<nav class="navbar navbar-expand-lg bg-white navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

   <a class="navbar-brand navbar-title" href="#">
      <img src="images/company_logo.jpeg" height="35" class="d-inline-block align-top" alt="">
      <span class="title-color1">Solar</span><span class="title-color2">Campers</span>
    </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" id="homePage">
        <a class="nav-link" href="../index.html">Home</a>
      </li>
      <li class="nav-item" id="servicesPage">
        <a class="nav-link" href="../services.html">Services</a>
      </li>
      <li class="nav-item" id="aboutPage">
        <a class="nav-link" href="../about.html">About Us</a>
      </li>
      <li class="nav-item" id="contactPage">
        <a class="nav-link" href="../contact.html">Contact</a>
      </li>
    </ul>
  </div>
</nav>


<script type="text/javascript">
  $(document).ready(function() {
    var page = document.querySelector('meta[name="page"]').content;

    $(".navbar-nav").find(".active").removeClass("active");
    $("#" + page + "Page").addClass("active");
  });
</script>